pkgbase = nrsc5
	pkgdesc = decode NRSC-5 (HD Radio) using an RTL-SDR
	pkgver = 20200518.17181bb
	pkgrel = 1
	url = https://github.com/theori-io/nrsc5
	arch = x86_64
	arch = aarch64
	license = GPL
	makedepends = git
	makedepends = cmake
	depends = libao
	depends = fftw
	depends = rtl-sdr
	source = git+https://github.com/theori-io/nrsc5
	md5sums = SKIP

pkgname = nrsc5

